---
import { render, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PageMeta from "../../components/PageMeta.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);
const formattedDate = new Date(post.data.date).toLocaleDateString("en-us", {
	year: "numeric",
	month: "short",
	day: "numeric",
});
---

<Layout>
	<PageMeta title={post.data.title} slot="meta" />
	<article slot="main">
		<h1><span>{post.data.title}</span></h1>
		<p class="date">{formattedDate}</p>
		<Content />
	</article>
</Layout>
