---
import Layout from "../layouts/Layout.astro";
import PageMeta from "../components/PageMeta.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const sortedPosts = posts
	.filter((p) => p.data.draft !== true)
	.sort(
		(a, b) =>
			new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
	);
---

<Layout>
	<PageMeta title="Blog" slot="meta" />
	<div slot="main">
		<h1><span>Blog posts</span></h1>
		{
			sortedPosts.map((post) => {
				const formattedDate = new Date(
					post.data.date,
				).toLocaleDateString("en-us", {
					year: "numeric",
					month: "short",
					day: "numeric",
				});
				return (
					<div class="post-entry">
						<div class="post-entry-inner">
							<div class="first-line">
								<h3>
									<a href={`/blog/${post.id}`}>
										{post.data.title}
									</a>
								</h3>
								<div class="date">{formattedDate}</div>
							</div>
							<div>{post.data.description}</div>
						</div>
					</div>
				);
			})
		}
	</div>
</Layout>
