---
import Layout from "../layouts/Layout.astro";
import PageMeta from "../components/PageMeta.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const sortedProjects = projects
	.filter((p) => p.data.draft !== true)
	.sort(
		(a, b) =>
			new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
	);
---

<Layout>
	<PageMeta title="Projects & Tools" slot="meta" />
	<div slot="main">
		<h1><span>Projects & Tools</span></h1>
		{
			sortedProjects.map((project) => {
				const formattedDate = new Date(
					project.data.date,
				).toLocaleDateString("en-us", {
					year: "numeric",
					month: "short",
					day: "numeric",
				});
				return (
					<div class="post-entry">
						<div class="post-entry-inner">
							<div class="first-line">
								<h3>
									<a href={project.data.url} target="_blank">
										{project.data.title}
									</a>
								</h3>
								<div class="date">{formattedDate}</div>
							</div>
							<div>{project.data.description}</div>
						</div>
					</div>
				);
			})
		}
	</div>
</Layout>
