---
import type { CollectionEntry } from 'astro:content';
import Card from './Card.astro';
import dayjs from "dayjs";

interface Props {
	post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<a href={"/blog/post/" + post.id} target="_self" class="clear">
	<Card>
		<h3 class="mb-0">{post.data.title}</h3>
		<div class="text-sm mt-0.5 mb-2 font-bold text-stone-400">
			<time>{dayjs(post.data.date).format("D MMMM YYYY")}</time>
			&CenterDot;
			<span class="uppercase">{post.data.category}</span>
		</div>
		<div>{post.data.description}</div>
	</Card>
</a>
