<div class:list={[
	"ring ring-secondary-dimmer rounded-md bg-secondary-dim/25 p-4 my-2 transition-all ease-out duration-300",
	...[
		"hover:ring-primary",
		"hover:bg-transparent",
		"hover:shadow-xl",
		"active:ring-primary",
		"active:bg-transparent",
		"active:shadow-xl",
	]
]}>
	<slot/>
</div>