---
import { execSync } from "child_process";
import dayjs from "dayjs";
import ThemeToggle from "./ThemeToggle.astro";

const contacts = [
	{ platform: "Email", name: "hi@q1z.dev", url: "mailto:hi@q1z.dev" },
	{ platform: "GitHub", name: "@q1zhen", url: "https://github.com/q1zhen" },
];
const lastModified = execSync(`git log -1 --pretty="format:%cI"`);
---

<div class="font-sans">
	<p>
		This site is open-source on <a href="https://github.com/q1zhen/homepage">GitHub</a>.<br/>
		Last modified at <time datetime={lastModified}>{dayjs(lastModified).format("D MMMM YYYY")}</time>.
	</p>
	<nav class="mb-8 text-text">
		{contacts.map((item) => (
			<div>
				<span class="font-black">{item.platform}</span>
				<a href={item.url}>{item.name}</a>
			</div>
		))}
	</nav>
	<div class="flex items-center justify-between">
		<p class="mb-0">
			&copy; <time>2024</time>&ndash;<time>{new Date().getFullYear()}</time> Yang Qizhen.
		</p>
	</div>
	<div class="mt-8"><ThemeToggle /></div>
</div>
