---
const contacts = [
	{ platform: "Email", name: "hi@q1z.dev", url: "https://github.com/q1zhen" },
	{ platform: "GitHub", name: "@q1zhen", url: "https://github.com/q1zhen" },
];
---

<div>
	<p>
		&copy; 2024&ndash;{new Date().getFullYear()} Yang Chyi Jen.
	</p>
</div>
