---
const nav = [
	{ title: "Home", href: "/" },
	{ title: "Blog", href: "/blog" },
	{ title: "CV", href: "/#cv" },
	{ title: "About", href: "/about" },
]

const current = Astro.url.pathname

function selectedNav(url) {
	return url != "/"
		? current.startsWith(url)
		: current == "/"
}
---

<div class="flex flex-row xl:flex-col xl:gap-8 items-center xl:items-end justify-between">
	<h2 class="text-white max-w-40 mb-0 xl:mb-6">q1zhen</h2>
	<nav class="text-lg flex flex-row flex-wrap ml-8 justify-between xl:ml-0 xl:flex-col gap-x-4 xl:gap-3 uppercase">
		{nav.map((item) => (
			<a
				href={item.href}
				target="_self"
				class:list={[
					selectedNav(item.href)
						? "text-primary"
						: "text-secondary-dimmer",
					"hover:text-primary active:text-primary transition-all ease-out duration-300 xl:block border-none font-sans font-bold group"
				]}
			>
				<span class:list={[
					selectedNav(item.href)
						? "opacity-100"
						: "group-hover:opacity-50 group-active:opacity-50 opacity-0",
					"transition-all ease-out duration-300 w-2 h-2 bg-red-600 mr-1 inline-block"
				]} />
				{item.title}
			</a>
		))}
	</nav>
</div>
