---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Yang Chyi Jen</title>
	</head>
	<body>
		<div class="flex flex-col w-full xl:flex-row xl:justify-center items-center xl:items-start gap-4 xl:gap-8 p-4">
			<header class="w-full md:w-2xl xl:w-sm text-center xl:[text-align-last:right]">
				<Header />
			</header>
			<main class="w-full md:w-2xl xl:flex-none">
				<slot />
			</main>
			<footer class="w-full md:w-2xl xl:w-sm">
				<Footer />
			</footer>
		</div>
	</body>
</html>
