---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { SITE_TITLE } from "../config";
---

<PageLayout>
	<PageMeta title={`${SITE_TITLE}`} slot="meta" />
	<Fragment slot="main">
		<h1 class="font-bold text-5xl text-text-heading py-5">404</h1>
		<p class="font-bold text-xl">Page not found.</p>
		<p>
			<a href="/">Back to Home</a>
		</p>
	</Fragment>
</PageLayout>

